@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  color: #242222;
}

a {
  text-decoration: none;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

#logo-img {
  width: 20rem;
  height: auto;
  padding-bottom: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;
  height: auto;
  background-color: #ebeff2;

}

h1 {
  padding: 2rem;
  letter-spacing: 0.1rem;
  font-size: calc(2rem + 2 * (100vw - 320px) / 1120);
  cursor: pointer;
  text-align: center;
}

h1:hover {
  letter-spacing: 0.15rem;
}

.add-note {
  height: auto;
  color: #0861a0;
  background: #ebeff2;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #0861a0;
  border-radius: 5px;
  padding: 10px 10px 12px;
  margin-bottom: 2rem;
  font-size: 18px;

}

.add-note:hover {
  background: #0861a0;
  color: #ebeff2;
  border: 1px solid #0861a0;
  box-shadow: inset 0 0 0 1.25px #ebeff2;
}

.blog-container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60vh;
  height: auto;
  padding: 3rem;
  background-color: white;
  margin-bottom: 2rem;
}

.story-image {
  width: 30rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  
}

.story-image img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  transition: 0.8s;
  display: block;
  padding: 2rem;
}

.story-image img:hover {
  transform: scale(1.125);
}

.text-container {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  height: auto;
  gap: 1.5rem;
}

h3 {
  color: #7f7f7fba;
  letter-spacing: 0.09rem;
}

.text-container h2 {
  color: #242222;
  letter-spacing: 0.09rem;
}

.text-container h2:hover {
  transition: 0.5s;
  letter-spacing: 0.125rem;
}

.text-container h2 a {
  color: #242222;
}

.text-container p {
  text-align: justify;
  cursor: pointer;
}

.story-wrapper {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  background-color: #ebeff2;
  margin-bottom: 2rem;
}

.story-container {
  padding: 1.25rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  gap: 1.5rem;
  text-align: justify;
  background-color: white;
  color: #575353;
  letter-spacing: 0.09rem;
  word-break: normal;
}

.story-container h3 {
  color: #404040;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-align: justify;
  padding: 0 2rem;
}

.story-container a {
  font-family: "Oswald", sans-serif;
  color: goldenrod;
  font-size: 14px;
}

.story-container p {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 19px;
  padding: 0 2rem;
  letter-spacing: 0.06rem;
  line-height: 1.3;
  text-indent: 1rem;
}

.story-container span {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}

#speech {
  color: #575353;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 19px;
}

.breakfast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subtitle {
  padding: 2rem;
  width: 60%;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.fabrica {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.degustation-images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  flex-wrap: wrap;

  img {
    width: 25rem;
  }
}

#autor {
  color: #7f7f7fba;
  letter-spacing: 0.09rem;
  font-size: 16px;
  margin-right: 0;
}

footer {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
 
  padding: 1.25rem;

  a {
    color: #0861a0;
  }
}
